/* Cross Origin Read Blocking issue */
/*@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);*/


@font-face{
	font-family: 'BarlowSemiCondensed_Medium';
	src: url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf') format('ttf');
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	/*- Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%)*/
	background-color: hsl(214, 47%, 80%); 
	/*background-color: hsl(214, 47%, 23%);*/
	font-family: 'BarlowSemiCondensed_Medium', sans-serif;
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: white;
}

h2 {
	text-align: center;
	/*font-weight: 600;*/
	font-size: 1.6rem;
}
div {
	/*border: 2px solid green;*/
}

p {
	text-align: center;
}

/*buttons*/
.btnPlayAgain {
	padding: 10px 30px;
	/*blue*/
	color: hsl(229, 25%, 31%);
	border-radius: 10px;
	font-size: 1.2rem;
	font-weight: 600;
}

.btnPlayAgain:hover {
	/*color: yellow;*/
	/*red*/
	color: hsl(349, 71%, 52%);
}

.uppercase {
	text-transform: uppercase;
}

.resultText {
	font-size: 2rem;
	font-weight: 700;

}

.score_title {
	font-size: 1.6rem;
	/*text-transform: uppercase;*/
	color: hsl(229, 64%, 46%);
	margin: 10px;
	padding: 0 10px;
}
.score_value {
	font-size: 2.5rem;
	font-weight: bold;
	color: hsl(229, 25%, 31%);
	margin: 10px;
	padding: 10px;
/*	- Dark Text: hsl(229, 25%, 31%)
- Score Text: hsl(229, 64%, 46%)
- Header Outline: hsl(217, 16%, 45%)*/

}
/*Horizontally centering is managed by the justify-content property and vertical centering by align-items.*/
 /*to center - apply flex and justify-content: center to parent div */
.container{
	position: relative;
/*	display: flex;
	justify-content: center;*/
}

.container-game{
	/*display: flex;*/
	/*position: relative;*/
	/*background-color: #85b3d1ff;*/
	/*- Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%)*/
	background-color: hsl(214, 47%, 23%);
	width: 90%;
	/*border: 2px red solid;*/
	height: auto;	
	/* Center horizontally*/
  	margin: 0 auto;
  	padding: 20px;
}

.container-header {
	display: flex;
	flex-direction: row;
	border: 5px hsl(217, 16%, 45%) solid;
	border-radius: 20px;
	padding: 10px;
	/*align-items: ;*/
	justify-content: space-between;
	/*margin: 10px;*/
	margin-bottom: 10px;
}

/* TODO center vertically */
.container-title {
	padding: 10px;
}

.container-score {
	background-color: white;
	/*border: 2px white dashed;*/
	border-radius: 10px;
	padding: 10px;
	max-height: 120px;
	margin: 5px;
}

.container-body {
	/*border: 2px dashed blue;*/
	/*position: relative;*/
	margin: 20px 0;
}

/*only centers div not imgs?*/
.section-icons {
	/* was block, works ok for now */
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
	/*border: 2px green solid;*/
	margin: 20px auto;
}

.picked {
	/* this shoudl only apply to each child item, not the flex parent itself */
	flex: 1 1 33%;
	margin: 10px;
	/*border: 1px green dashed;*/
	/*seems to make themm all equal */
	align-self: stretch;
	padding: 5px;
/*vertical-align: top;*/
}

/* need to center all the things ! */
.container-flex-output {
	width: 90%;
	/*border: 2px yellow solid;*/
	/*flex: <'flex-grow'> <'flex-shrink'> <'flex-basis'> /* Three values syntax */
	/*flex: 1 1 400px;*/
	display: flex;
	flex-direction: row;
	align-items: center;
/*vertical-align: top;*/
	justify-content: center;
	/* Center horizontally using auto option*/
	margin: 20px auto;
}

.icon_size {
	width: 100px; 
	height: 100px;
}

/* img is still being cut off a little */
.icon_border {
	/*border: 10px black solid;*/
	border-radius: 50px;
	margin: 10px;
	padding: 20px;
	background-color: white;
}

/*red - add gradients later*/
.color_rock {
	border: 10px solid hsl(349, 71%, 52%);
}

/*blue*/
.color_paper {
	border: 10px solid hsl(230, 89%, 62%);
}

/*yellow*/
/*need to center img so border doesnt cut off fingers of icon*/
.color_scissors {
	border: 10px solid hsl(39, 89%, 49%);
}

/*
button {
	text-align: center;
	not right way to center img
	margin: 0 auto;
}
*/

/*need to center parent of above button*/
.center {
	/*text-align: center;*/
	/*not right way to center img*/
	margin: 0 auto;
}

.centerBtn {
	text-align: center;
}
