/* Cross Origin Read Blocking issue */
/*@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);*/


@font-face{
	font-family: 'BarlowSemiCondensed_Medium';
	src: url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf') format('ttf');
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: hsl(214, 47%, 90%);
/*	background-color: #1C384A;*/
	font-family: 'BarlowSemiCondensed_Medium', sans-serif;
	font-size: 1.2rem;
	line-height: 1.4rem;
}

h2 {
	text-align: center;
}
div {
	/*border: 2px solid green;*/
}

p {
	text-align: center;
}

/*Horizontally centering is managed by the justify-content property and vertical centering by align-items.*/
 /*to center - apply flex and justify-content: center to parent div */
.container{
	position: relative;
/*	display: flex;
	justify-content: center;*/
}

.container-game{
	/*display: flex;*/
	/*position: relative;*/
	background-color: #85b3d1ff;
	width: 90%;
	/*border: 2px red solid;*/
	height: auto;	
	/* Center horizontally*/
  	margin: 0 auto;
}

.container-header {
	display: flex;
	flex-direction: row;
	/*border: 5px white solid;*/
	padding: 10px;
	/*align-items: ;*/
	justify-content: space-between;
	/*margin: 10px;*/
}

.container-body {
	/*border: 2px solid blue;*/
	/*position: relative;*/
}

/*only centers div not imgs?*/
.section-icons {
	margin: 0 auto;
}

.picked {
	/* this shoudl only apply to each child item, not the flex parent itself */
	flex: 1 1 33%;
	margin: 10px;
}

/* need to center all the things ! */
.container-flex-output {
	width: 90%;
	/*border: 2px yellow solid;*/
	/*flex: <'flex-grow'> <'flex-shrink'> <'flex-basis'> /* Three values syntax */
	/*flex: 1 1 400px;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* Center horizontally using auto option*/
	margin: 10px auto;
}

.icon_size {
	width: 100px; 
	height: 100px;
}

/* img is still being cut off a little */
.icon_border {
	/*border: 10px black solid;*/
	border-radius: 50px;
	margin: 10px;
	padding: 20px;
	background-color: white;
}

.color_rock {
	border: 10px solid red;
}

.color_paper {
	border: 10px solid blue;
}

/*need to center img so border doesnt cut off fingers of icon*/
.color_scissors {
	border: 10px solid yellow;
}

/*
button {
	text-align: center;
	not right way to center img
	margin: 0 auto;
}
*/

/*need to center parent of above button*/
.center {
	text-align: center;
	/*not right way to center img*/
	margin: 0 auto;
}

